<form [formGroup]="todoForm" class="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
        <input matInput placeholder="Label" type="text" formControlName="label" />
    </mat-form-field>
    <mat-form-field class="w-100">
        <input matInput placeholder="Category" type="text" formControlName="category" />
    </mat-form-field>
    <mat-form-field class="w-100">
        <input matInput placeholder="Description" type="text" formControlName="description" />
    </mat-form-field>
    <button mat-raised-button type="submit">Add</button>
</form>